:root {
  --font-family: "Fira Sans", sans-serif;
  --spacing: 0.75rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --card-background-color: var(--background-color);
  --card-box-shadow: none;
}

/* Light-blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #039be5;
  --primary-hover: #0288d1;
  --primary-focus: rgba(3, 155, 229, 0.125);
  --primary-inverse: #fff;
}

/* Light-blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #039be5;
    --primary-hover: #03a9f4;
    --primary-focus: rgba(3, 155, 229, 0.25);
    --primary-inverse: #fff;
  }
}

/* Light-blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #039be5;
  --primary-hover: #03a9f4;
  --primary-focus: rgba(3, 155, 229, 0.25);
  --primary-inverse: #fff;
}

/* Light-blue (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.blog-title-container {
  position: relative;
  padding-bottom: 24px;
}

.blog-title {
  font-size: 3rem;
  font-weight: bolder;
}

.blog-title-container h2 {
  position: absolute;
  left: 60px;
  bottom: 12px;
}

article {
  padding: calc(var(--block-spacing-vertical) / 2) 0;
}

article > header > h2,
article > header > p {
  margin-bottom: 0;
}

blockquote p {
  margin: 0;
}

pre {
  padding: 0 !important;
}

code {
  font-family: "Fira Code", monospace !important;
  font-size: 0.8rem !important;
}

article p {
  display: block;
}

article p img {
  margin: 0 auto;
  display: block;
}

.post-cover {
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 100%;
  margin-top: 32px;
  scale: 1.1;
  border-radius: 4px;
}

hgroup.post-title {
  position: relative;
}

hgroup.post-title::after {
  content: "";
  position: absolute;
  bottom: -16px;
  display: block;
  width: 100%;
  border-bottom: 3px dotted #039be5;
  opacity: 50%;
}

article header h3 {
  position: relative;
  border-bottom: 3px dotted #039be5;
}

article header h3::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  width: 100%;
  border-bottom: 3px dotted #039be5;
}
